/* Estilos para el menú fijo en la parte superior */
.cabecera {
    position: fixed;

}

/* Estilos para la lista horizontal */
.lista-desordenada {
    display: flex;
}

/* Eliminar los puntos de la lista */
ul {
  list-style-type: none;
}

/* Espaciado entre los elementos de la lista */
li {
    margin-left: 1ch;
}

/* Estilos para el encabezado sticky */
.h2 {
    position: sticky;
    top: 50px;
}

/* Estilos para la imagen flotante y el contenedor */
.contenedor {
  background: lightgray;
  overflow: auto;
}

/* Estilos para la imagen flotante */
.img-flotante {
    float: left;
    margin-right: 15px;
}

/* Técnica clearfix para evitar el colapso del contenedor */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Estilos para el contenedor de clearfix */
.clearfix {
  background: sandybrown;

}

/* Estilos para los bloques superpuestos con z-index */
.capa-1 {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 150px;
    height: 150px;
    background-color: rgba(255, 0, 0, 0.7); /* Rojo con transparencia */
    z-index: 1; /* Capa inferior */
}

/* Capa intermedia */
.capa-2 {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 150px;
    height: 150px;
    background-color: rgba(0, 255, 0, 0.7); /* Verde con transparencia */
    z-index: 2; /* Capa intermedia */
}

/* Capa superior */
.capa-3 {
    position: absolute;
    top: 150px;
    left: 150px;
    width: 150px;
    height: 150px;
    background-color: rgba(0, 0, 255, 0.7); /* Azul con transparencia */
    z-index: 3; /* Capa superior */
}


